Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

Content


## over 100mb
#Content/FirstPersonArms/Character/Textures/

## Fab Library Asset
#Content/JustBStudios
#/PostOffice.png

#Content/Into_Insanity_Vol_1/

#Content/Fab/
#Content/Made/
#Content/OldWest/